<%- include('../partials/header') %>

<h1><%= title %></h1>
<section class="destinations">
<% destinations.forEach(function(destination) { %>
    <div class="destination">
        <figure>
            <a href="/destinations/<%= destination._id %>"><img src="<%= destination.image %>"></a>             
        </figure>
        <br>
        <div id="remove-destination">
            <a href="/destinations/<%= destination._id %>"><%= destination.name %></a>
        <% if(user) { %>
            <form action="/destinations/<%= destination._id %>?_method=DELETE" method="POST">
                <button class="btn" type="submit">Remove</button>
            </form>            
        <% } %> 

        </div>

        <p><%= destination.city %>, 
            <% if(destination.state) { %>
                <%= destination.state %>,
            <% } %>
             <%= destination.country %></p>
        <p><%= destination.price %></p>
    </div>

<% }) %>    
</section>


<%- include('../partials/footer') %>