<%- include('../partials/header') %>

<h1><%= title %></h1>
<% destinations.forEach(function(destination) { %>
    <a href="/destinations/<%= destination._id %>"><img src="<%= destination.image %>" width="500"></a> 
    <br>
    <div id="remove-destination">
        <a href="/destinations/<%= destination._id %>"><%= destination.name %></a> 
        <form action="/destinations/<%= destination._id %>?_method=DELETE" method="POST">
            <button type="submit">Remove</button>
        </form>
    </div>

    <p><%= destination.city %>, <%= destination.state %>, <%= destination.country %></p>
    <p><%= destination.price %></p>
<% }) %>

<%- include('../partials/footer') %>