<%- include('../partials/header') %>

<h1><%= destination.name %></h1>

<div id="row-details">
    <div class="column-image">
        <img src="<%= destination.image %>" width="500">    
    </div>
    <div class="column-details">
        <p><span style="font-weight: bold;">Location:</span>  <%= destination.city %>, <%= destination.state %>, <%= destination.country %></p>
        <p><span style="font-weight: bold;">Price Range:</span>  <%= destination.price %></p>
        <p><span style="font-weight: bold;">Cuisine(s):</span>  <%= destination.cuisine %></p>
        <p><span style="font-weight: bold;">Category:</span>  <%= destination.category %></p>
        <form action="/destinations/<%= destination._id %>/edit">
            <button class="btn white-text">Edit</button>
        </form>
        <form action="/destinations/<%= destination._id %>/menu/new">
            <button class="btn white-text">Add Menu Item</button>
        </form>
    </div>    
</div>

<div class="row" id="destination-details">
    <section class="col s6" id="menu-items">
        <div>
            <h5>Menu Items</h5>
        </div>
        <div id="menu-table">
            <% if (menu.length) { %>
                <% menu.forEach(function (m) { %>
                <div class="menu-item">
                    <img src="<%= m.image %>" alt="<%= m.name %>" width="200" class="card">
                    <div class="modal">
                        <div class="modal-content center">
                            <span class="close">&times;</span>
                            <img src="<%= m.image %>" width="300">
                            <p style="font-weight: bold;"><%= m.name %></p>
                            <p><%= m.description %></p>
                            <form action="/menu/<%= m._id %>?_method=DELETE" method="POST">
                                <button class="btn white-text">Remove</button>
                            </form>
                            <form action="/menu/<%= m._id %>/edit">
                                <button class="btn white-text">Edit</button>
                            </form>                    
                        </div>

                    </div>


                </div>                
                <% }); %>
            <% } else { %>
                <p>No menu items attached</p> 
            <% } %>
        </div>
    </section>

    <section class="col s6" id="comments">
        <div id="all-comments">
            <% if (comments.length) { %>
                <% comments.forEach(function (c) { %>
                <div class="comment-block">
                    <p><%= comment.user.name %></p>
                    <p><%= comment.timestamp.toISODateString %></p>
                    <p><%= comment.text %></p>
                </div>
                <% }); %>
            <% } else { %>
                <p>No comments added yet</p>
            <% } %>
        </div>
        <!--- Add Comment Section --->
        <% if(user) { %>
            <div id="add-comment">
                <form action="/destination/" method="POST">
                    <textarea name="text" id="" cols="30" rows="10"></textarea>
                    <button type="submit" class="btn white-text">Add Comment</button>
                </form>
            </div>   
        <% } %>
    </section>
</div>

        <script src="/script.js">
        </script>

<%- include('../partials/footer') %> 