<%- include('../partials/header') %>

<h1><%= destination.name %></h1>

<div id="row-details">
    <div class="column-image">
        <img src="<%= destination.image %>" width="500">    
    </div>
    <div class="column-details">
        <p><span style="font-weight: bold;">Location:</span>  <%= destination.city %>, 
            <% if(destination.state) { %>
                <%= destination.state %>,
            <% } %>
            <%= destination.country %></p>
        <p><span style="font-weight: bold;">Price Range:</span>  <%= destination.price %></p>
        <p><span style="font-weight: bold;">Cuisine(s):</span>  <%= destination.cuisine %></p>
        <p><span style="font-weight: bold;">Category:</span>  <%= destination.category %></p>
        <% if(user) { %>
        <form action="/destinations/<%= destination._id %>/edit">
            <button class="btn white-text">Edit</button>
        </form>
        <form action="/destinations/<%= destination._id %>/menu/new">
            <button class="btn white-text">Add Menu Item</button>
        </form>            
        <% } %>

    </div>    
</div>

<div class="row" id="destination-details">
    <section class="col s6" id="menu-items">
        <div>
            <h5>Menu Items</h5>
        </div>
        <div id="menu-table">
            <% if (menu.length) { %>
                <% menu.forEach(function (m) { %>
                <div class="menu-item">
                    <img src="<%= m.image %>" alt="<%= m.name %>" width="200" class="card">
                    <div class="modal">
                        <div class="modal-content center">
                            <span class="close">&times;</span>
                            <img src="<%= m.image %>" width="300">
                            <p style="font-weight: bold;"><%= m.name %></p>
                            <p><%= m.description %></p>
                            <% if(user) { %>
                            <form action="/menu/<%= m._id %>?_method=DELETE" method="POST">
                                <button class="btn white-text">Remove</button>
                            </form>
                            <form action="/menu/<%= m._id %>/edit">
                                <button class="btn white-text">Edit</button>
                            </form>        
                            <% } %>            
                        </div>

                    </div>


                </div>                
                <% }); %>
            <% } else { %>
                <p>No menu items attached</p> 
            <% } %>
        </div>
    </section>

    <section class="col s6" id="comments">
        <div id="all-comments">
            <h5>Comments:</h5>
            <% if (comments.length) { %>
                <% comments.forEach(function (c) { %>
                <div class="comment-block">
                    <div class="comment-header">
                        <div class="comment-user-info">
                            <!-- <img src="<%= c.writtenBy.avatarURL %>" class="circle left" width="50"> -->
                            <p class="comment-name left" style="font-weight: bold;"><%= c.writtenBy.name %></p>                            
                        </div>
                        <div class="comment-date">
                            <p class="comment-date right"><%= c.createdAt.toLocaleDateString() %></p>                        
                        </div>
                    </div>
                    <br>
                    <div class="comment-content">
                        <p><%= c.text %></p>                        
                    </div>
                    <% if (user && c.writtenBy.name === user.name) { %>
                        <form action="/comments/<%= destination._id %>?_method=DELETE" method="POST">
                            <input type="submit" class="link-button" value="Delete">
                        </form>
                        <% } %>
                </div>
                <% }); %>
            <% } else { %>
                <p>No comments added yet</p>
            <% } %>
        </div>
        <!--- Add Comment Section --->
        <% if(user) { %>
            <div id="add-comment">
                <form action="/comments/<%= destination._id %>" method="POST">
                    <textarea name="text" cols="48" rows="3" placeholder="Fantastic food here!"></textarea>
                    <input type="hidden" name="writtenBy" value="<%= user._id %>">
                    <button type="submit" class="btn white-text">Add Comment</button>
                </form>
            </div>   
        <% } else { %>
          <p><a href="/auth/google">Login</a> to comment.</p>  
        <% } %>
    </section>
</div>
        <script src="/scripts/script.js">
        </script>

<%- include('../partials/footer') %> 