<%- include('../partials/header') %>

<h1><%= destination.name %></h1>

<div id="row-details">
    <div class="column-image">
        <img src="<%= destination.image %>" width="500">    
    </div>
    <div class="column-details">
        <p><strong>Location:</strong> <%= destination.city %>, <%= destination.state %>, <%= destination.country %></p>
        <p><strong>Price Range:</strong>  <%= destination.price %></p>
        <p><strong>Cuisine(s):</strong>  <%= destination.cuisine %></p>
        <p><strong>Category:</strong>  <%= destination.category %></p>
        <form action="/destinations/<%= destination._id %>/edit">
            <button>Edit</button>
        </form>
        <form action="/destinations/<%= destination._id %>/menu/new">
            <button>Add Menu Item</button>
        </form>
    </div>    
</div>

<section id="menu-items">
    <div>
        <h4>Menu Items</h4>
    </div>
    <div id="menu-table">
        <% if (menu.length) { %>
            <% menu.forEach(function (m) { %>
            <div class="menu-item">
                <img src="<%= m.image %>" width="200">
                <p><%= m.name %></p>
                <p><%= m.description %></p>
                <form action="/menu/<%= m._id %>?_method=DELETE" method="POST">
                    <button type="submit">Remove</button>
                </form>
            </div>                
            <% }); %>
        <% } else { %>
            <p>No menu items attached</p> 
        <% } %>
    </div>
</section>

<%- include('../partials/footer') %> 