<%- include('../partials/header') %>

<h1><%= destination.name %></h1>

<div id="row-details">
    <div class="column-image">
        <img src="<%= destination.image %>" width="500">    
    </div>
    <div class="column-details">
        <p><span style="font-weight: bold;">Location:</span>  <%= destination.city %>, <%= destination.state %>, <%= destination.country %></p>
        <p><span style="font-weight: bold;">Price Range:</span>  <%= destination.price %></p>
        <p><span style="font-weight: bold;">Cuisine(s):</span>  <%= destination.cuisine %></p>
        <p><span style="font-weight: bold;">Category:</span>  <%= destination.category %></p>
        <form action="/destinations/<%= destination._id %>/edit">
            <button>Edit</button>
        </form>
        <form action="/destinations/<%= destination._id %>/menu/new">
            <button>Add Menu Item</button>
        </form>
    </div>    
</div>

<section id="menu-items">
    <div>
        <h5>Menu Items</h5>
    </div>
    <div id="menu-table">
        <% if (menu.length) { %>
            <% menu.forEach(function (m) { %>
            <div class="menu-item">
                <img src="<%= m.image %>" alt="<%= m.name %>" width="200" class="card">
                <div class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <img src="<%= m.image %>" width="300">
                        <p style="font-weight: bold;"><%= m.name %></p>
                        <p><%= m.description %></p>
                        <form action="/menu/<%= m._id %>?_method=DELETE" method="POST">
                            <button type="submit">Remove</button>
                        </form>                    
                    </div>

                </div>


            </div>                
            <% }); %>
        <% } else { %>
            <p>No menu items attached</p> 
        <% } %>
    </div>
</section>
        <script src="/script.js"></script>

<%- include('../partials/footer') %> 