<%- include('../partials/header') %>

<h1><%= destination.name %></h1>

<div id="row-details">
    <div class="column-image">
        <img src="<%= destination.image %>" width="500">    
    </div>
    <div class="column-details">
        <p><span style="font-weight: bold;">Location:</span>  <%= destination.city %>, <%= destination.state %>, <%= destination.country %></p>
        <p><span style="font-weight: bold;">Price Range:</span>  <%= destination.price %></p>
        <p><span style="font-weight: bold;">Cuisine(s):</span>  <%= destination.cuisine %></p>
        <p><span style="font-weight: bold;">Category:</span>  <%= destination.category %></p>
        <form action="/destinations/<%= destination._id %>/edit">
            <button>Edit</button>
        </form>
        <form action="/destinations/<%= destination._id %>/menu/new">
            <button>Add Menu Item</button>
        </form>
    </div>    
</div>

<section id="menu-items">
    <div>
        <h5>Menu Items</h5>
    </div>
    <div id="menu-table">
        <% if (menu.length) { %>
            <% menu.forEach(function (m) { %>
            <div class="menu-item">
                <img src="<%= m.image %>" alt="<%= m.name %>" width="200" class="card">
                <div class="modal">
                    <div class="modal-content center">
                        <span class="close">&times;</span>
                        <img src="<%= m.image %>" width="300">
                        <p style="font-weight: bold;"><%= m.name %></p>
                        <p><%= m.description %></p>
                        <form action="/menu/<%= m._id %>?_method=DELETE" method="POST">
                            <button>Remove</button>
                        </form>
                        <form action="/menu/<%= m._id %>/edit">
                            <button>Edit</button>
                        </form>                    
                    </div>

                </div>


            </div>                
            <% }); %>
        <% } else { %>
            <p>No menu items attached</p> 
        <% } %>
    </div>
</section>
        <script>
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            }

            $menuItems = $('#menu-items');
            $itemDetails = $('.modal-content');

            function displayItemDetails(e) {
            const parent = e.target.parentElement;
            const modal = parent.getElementsByClassName("modal")[0];
            console.log(modal);
            modal.style.display = "block";
            }

            function closeDetails(e) {
            const parent = e.target.parentElement.parentElement.parentElement;
            const modal = parent.getElementsByClassName("modal")[0];
            console.log(modal);
            modal.style.display = "none";
            }

            $menuItems.on('click', '.card', displayItemDetails);
            $itemDetails.on('click', '.close', closeDetails);
        </script>

<%- include('../partials/footer') %> 